.top-header {
  background-color: #2f3649;
  color: white;
  padding: 5px 10px 15px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  display: block;
}

.top-header a {
  color: white;
}

.top-header .header__top,
.top-header .header__bottom {
  display: flex;
  justify-content: space-between;
}

.top-header .header__top {
  margin-bottom: 25px;
  font-size: 12px;
}

.top-header .header__bottom {
  margin: 0 10px;
}

.top-header .header__column {
  display: flex;
  justify-content: space-between;
}

.top-header .header__number {
  color: yellow;
}

.top-header .header__bottom .header__column:first-child {
  color: rgba(255, 255, 255, 0.5);
}
